AZURE_SPEECH_KEY=your_speech_key_here
AZURE_SPEECH_REGION=eastus
# Automatically provisioned Endpoint:
AZURE_DEID_SERVICE_ENDPOINT=https://bwcrctatc7f2fdgt.api.eus001.deid.azure.com

# Authentication is handled via 'az login' (DefaultAzureCredential)
# No need to set client secrets if running locally with az login.
